<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Merchant Marine Training Centre Score Board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= render 'application/favicon' %>

    <meta property="fb:app_id" content="171443830035008" />
    <meta property="og:url" content="http://basketball-scoreboard.herokuapp.com" />
    <meta property="og:type" content="sport" />
    <meta property="og:title" content="Basketball Scoreboard" />
    <meta property="og:description" content="ช่วยในการจับเวลาการแข่งขัน ป้ายคะแนน แล้วการฟาวล์ต่างๆ ของกีฬาบาสเกตบอล" />
    <meta property="og:image" content="<%= image_url("basketball-cover.png") %>" />

    <META NAME="Title" CONTENT="Basketball Scoreboard">
    <meta NAME='AUTHOR' CONTENT='Theeraphat Jantakat'>
    <META NAME="Keywords" CONTENT="บาสเกตบอล,ป้ายคะแนน,จับเวลา,แข่งขัน">
    <META NAME="Description" CONTENT="ช่วยในการจับเวลาการแข่งขัน ป้ายคะแนน แล้วการฟาวล์ต่างๆ ของกีฬาบาสเกตบอล">
    <META NAME="Subject" CONTENT="ป้าคะแนน บาสเกตบอล">
    <META NAME="Language" CONTENT="Thailand">
    <META NAME="Robots" CONTENT="INDEX,FOLLOW">
  </head>

  <body ng-controller="mainCtrl as main">
    
    
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Merchant Marine Training Centre Score Board</strong> by <a href="https://www.facebook.com/pondpaunkiku">I'Pondpaun SevenZ</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/pondpaun7z/Basketball-Scoreboard">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
